.join-us {
  width: 100%;
  height: auto;
  padding: 90px 0 15px;
  background: var(--dark-brown-color);
}

.join-us__main-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
  margin-bottom: 15px;
}

.join-us__title {
  font-size: 28px;
}

.join-us__description {
  font-size: 16px;
  line-height: 25.6px;
}

.join-us__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.join-us__form-email {
  min-width: 220px;
  width: 100%;
  background-color: var(--input-background-color);
  border-radius: 2px;
  font-size: 15px;
  line-height: 18px;
  padding: 16px 25px;
  color: var(--white-color);
}

.join-us__form-button {
  min-width: 220px;
  max-width: 100%;
  width: 100%;
  padding: 16px 25px;
  line-height: 18px;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .join-us {
    padding: 100px 0 15px;
  }

  .join-us__title {
    font-size: 30px;
  }

  .join-us__main-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  .join-us__subscribe {
    width: 40%;
  }

  .join-us__form-email,
  .join-us__form-button {
    max-width: 370px;
  }
}

@media (min-width: 992px) {
  .join-us {
    padding: 110px 0 15px;
  }

  .join-us__title {
    font-size: 32px;
  }
}